.tooki__banner{
    display: flex;

}
.tooki__banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    /* background-color: goldenrod; */

}
.tooki__banner-container_item1{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
    margin-bottom: 5rem;
}
.tooki_banner-container_item1-detail{
    width: 100%;
}
.tooki_banner-container_item1-detail h1{
    font-size: 40px;
    width: 80%  ;
}
.tooki_banner-container_item1-detail p{
    width: 80%;
    font-size: 20px;
}
.tooki_banner-container_item1-detail-div{

}
.tooki_banner-container_item1-detail-div .btn1{
    padding: 20px;
    background-color: bisque;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
.tooki_banner-container_item1-detail-div .btn2{
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: bisque;
    margin-left: 1rem;
    font-size: 16px;
}
.rating{
    display: flex;
    margin-top: 1.5rem;
}
.rating p{
    width: 120px;
    font-size: 15px;
}
.rating img{
    width: 100px;
    height: 60px;
}
.rating :nth-child(3){
    color: bisque;
    margin-left: 0.2rem
}
.tooki__banner-container_two{
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tooki__banner-container_two-content{
    display: flex;
}
.tooki__banner-container_two-content :nth-child(2){
    margin-left: 1.5rem;
}
.tooki__banner-container_two-content-div {
    margin-left: 1.5rem;
}
.tooki__banner-container_two-content-div{
    color: gray;
}
@media screen and (max-width:1100px) {
    .tooki_banner-container_item1-video .video{
        width: 400px;
        height: 280px;
    }
}
@media screen and (max-width:850px) {
    .tooki__banner-container_item1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .tooki_banner-container_item1-video{
        margin-top: 1.5rem;
    }
    .tooki_banner-container_item1-video .video{
        width: 560px;
        height: 315px;
    }
    .tooki_banner-container_item1-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:670px){
    .tooki_banner-container_item1-video .video{
        width: 400px;
        height: 280px;
    }
    .tooki__banner-container_item1{
        padding: 0;
        margin-top: 3.5rem;
    }
    .tooki__banner-container_two-content h1{
        display: none;
    }

}
@media screen and (max-width:500px){
    .tooki_banner-container_item1-video .video{
        width: 300px;
        height: 180px;
    }
    .tooki_banner-container_item1-detail h1{
        font-size: 30px;
    }
    .tooki_banner-container_item1-detail p{
        font-size: 18px;
    }
    .tooki_banner-container_item1-detail-div .btn1{
        padding: 15px;
        font-size: 15px;
    }
    .tooki_banner-container_item1-detail-div .btn2{
        padding: 15px;
        font-size: 15px;
    }
    .rating{
        display: none;
    }
}
@media screen and (max-width:300px){
    .tooki_banner-container_item1-video .video{
        width: 200px;
        height: 130px;
    }
}

